<div id="bookListWrapper">
	<p>PLease click on buy to buy.</p>
	<div>
		<ul class="list-unstyled">
			<li class="book" style="background: white url({{book.imgUrl}}) no-repeat" ng-repeat="book in cart">
				<div class="book-details clearfix">
					<h3>{{ book.name }}</h3>
					<p>${{ book.price }} NZD</p>
					<ul class="list-unlisted list">
						<li>Rating: {{book.rating}}</li>
						<li>Binding: {{book.binding}}</li>
						<li>Publisher: {{book.publisher}}</li>
						<li>Released: {{book.releaseDate}}</li>
					</ul>
					<p>{{book.details}}</p>
					<button class="btn btn-info pull-right" ng-click="buy(book)">Buy</button>
				</div>

			</li>
		</ul>
	</div>
</div>